*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
    color:black;
}
main {
    height: 98vh;
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

footer {
    height: 30vh;
    background-color: white;
}
.webpage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-logo{
    flex: 0 0 50%;
    text-align: left;

}
.form{
    flex: 0 0 40%;
    text-align: center;
}
.main-logo img {
    max-width: 340px;
}
.main-logo h2{
    font: normal;
    font-weight: normal;
    padding: 0 0;
    line-height: 40px;


}
.form .container{
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px whitesmoke, 0 4px 8px grey;
    margin-bottom: 20px;
    padding: 40px;
    max-width: 400px;
}
.form .container input, .form .container .login{
    width: 100%;
    margin: 5px 0;
    border: rgb(5, 5, 5);
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}
.form .container input{
    border: 1px solid rgb(185, 182, 182);
    color: black;
    padding: 0 8px;
    outline: none;
    border-radius: inherit;
    


}
.form .container input:focus{
    border-color: rgb(34, 121, 150);
    box-shadow: 0 0 0 2 lightcyan;
    
}

.form .container .login{
    background-color: rgb(54, 87, 236);
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: white;
    font-weight: 700;
}
.form .container .login:hover{
    background-color: rgb(15, 97, 204);
}


.form .container a{
    display:block;
    color: rgb(3, 147, 243);
    font-size: 15px;
    text-decoration:none;
    padding: 15px 0 20px;
    border-bottom: 1px solid #b8bec5;
}
.form .container a:hover{
    text-decoration: underline;
}
.form .container .create {

    background-color: #5ec54a;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
}
.form .container .create:hover{
    background-color: #4cc035;
}
.form p {
    font-size: 14px;
    
}

.form p a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 400;
}

.form p a:hover {
    text-decoration: underline;
}

.footers {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}

footer ol:first-child {
    border-bottom: 1px solid black;

}

footer ol:first-child li:last-child button {
    background-color: #f5f6f7;
    border: 1px solid #9d9da7;
    outline: none;
    color: #010711;
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
}

footer ol li {
    padding-right: 15px;
    font-size: 12px;
    color: #6f6f74;
}

footer ol li a {
    text-decoration: none;
    color: #9d9da7;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
}